body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 80%;
    background-image: url(./images/pureSunTest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #007bb5; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center;   aligns the anchor (link) that now wraps the image */
}

#mainPageHeader {
    margin: 20px auto;
}

header a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#headerLogo {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30%;
    height: 30%;
    flex: 1;
}

.headerText {
    margin: auto;
    text-align: left;
    text-indent: -9999px;
    font-size: 1px;
}

#info {
    margin: auto;
    flex-basis: 70%;
    padding-bottom: 0px;
}

#info p {
    text-align: center;
}

#info {
    margin: 0px;
}

#info a {
    text-decoration: none;
}

#videoBar {
    margin: auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.youtube {
    display: flex;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.youtube .vidContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.vidContainer p {
    margin: auto;
    margin-bottom: 5px;
    font-family: 'Indie Flower', cursive;
}

.quote {
    font-family: 'Indie Flower', cursive;
    margin: 0px;
}

footer {
    margin: auto;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    display: inline;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
}

footer a {
    text-decoration: none;
    flex: 1;
    margin: auto;
}

footer p {
    text-align: center;
}

.copyright {
    bottom: 0;
    position: absolute;
    bottom: 5px; 
    font-size: 12px;
    margin: auto;
    justify-content: left;
}

.copyrightServices {
    bottom: 0;
    position: flex;
    bottom: 5px; 
    font-size: 12px;
    margin: auto;
    justify-content: left;
}

.copyright p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.copyrightServices p {
    font-family: 'Dancing Script', cursive;
    text-align: left;
}

.socialMedia {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.fa {
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    margin: 6px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  @media (max-width: 900px) and (orientation: landscape) {
    body {
        width: 60%;
    }
    
    header {
        margin: 5px auto;
    }

    footer a {
        font-size: 3em;
        min-height: 50px;
    }
}

@media(orientation: portrait) {
    body {
        background-color: #939aa0;
        background-image:  url(./images/sunrisePortrait2.jpg);
        background-size: cover;
        font-size: 300%;
    }

    #info a {
        text-decoration-line: none;
    }

    #info a {
        color: darkblue;
    }

    #servicesLastPara {
        color: antiquewhite;
    }

    footer a {
        color: antiquewhite;
    }
    .copyright p {
        font-size: 200%;
    }

    .copyrightServices p {
        font-size: 200%;
    }

    #headerLogo {
        margin: 20px auto;
        width: 80%;
        height: 40%;
        flex: 1;
    }

    #videoBar {
        margin: auto;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .youtube {
        margin: auto;
        display: flex;
        flex: 1;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 456px;
        height: 250px;
    }

    .fa {
        padding: 20px;
        font-size: 10px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 10%;
        margin: 8px;
      }
  }